
@font-face {
    /* 폰트 다운받아서 하는벙법
       구글 에서 복사하느 방법도 있다 */
    font-family: 소피아;
    src: url(./font/SofiaSansCondensed-VariableFont_wght.ttf);
}

/* *{
    font-family:'휴먼아미체';
    font-size: 20px;
    color: rgba(12, 11, 11, 0.536);
} */
	
	

/* tr:nth-child(2n+0){background-color: rgb(206, 235, 248);} */
    
.video-box {
        height: 600px;
        padding-top: 200px;
        width: 100%;
        overflow: hidden;
        position: relative;
        }
    
        .video-container {
        position: absolute;
        width : 100%;
        top: 50%;
        left: 50%;
        transform : translate(-50%,-50%);
        z-index: 0;
        }
    
    
        /* 상세보기 버튼 */
        @keyframes shake{
        0%{transform: rotate(0deg);}
        25%{transform: rotate(-8deg);}
        50%{transform: rotate(8deg);}
        75%{transform: rotate(-8deg);}
        100%{transform: rotate(0deg);}
        }
    
        .ani-button{
            color:tan;
        }
        .ani-button:hover{
        animation-name: shake;
        animation-duration: 1s;
        }   
        th{
            text-align: center;
        }
        td{
            font-size: 20px;
            text-align: center;
            color:#0e0e0ea4;
        }
        h2{
            text-align: center;
            padding: 20px;
            animation-name: blink;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-fill-mode: none;
            color:rgb(206, 235, 248);
        }
    
        /*페이징처리  */
        .page_wrap {
        text-align:center;
            font-size:0;
        }
        .page_nation {
            display:inline-block;
        }
        .page_nation .none {
            display:none;
        }
        .page_nation a {
            display:block;
            margin:0 3px;
            float:left;
            border:1px solid #e6e6e6;
            width:28px;
            height:28px;
            line-height:28px;
            text-align:center;
            background-color:#fff;
            font-size:13px;
            color:#999999;
            text-decoration:none;
        }
        .page_nation .arrow {
            border:1px solid #ccc;
        }
        .page_nation .pprev {
            background:#f8f8f8 url('../images/page/page_pprev.png') no-repeat center center;
            margin-left:0;
        }
        .page_nation .prev {
            background:#f8f8f8 url('../images/page/page_prev.png') no-repeat center center;
            margin-right:7px;
        }
        .page_nation .next {
            background:#f8f8f8 url('../images/page/page_next.png') no-repeat center center;
            margin-left:7px;
        }
        .page_nation .nnext {
            background:#f8f8f8 url('../images/page/page_nnext.png') no-repeat center center;
            margin-right:0;
        }
        .page_nation a.active {
            background-color:#42454c;
            color:#fff;
            border:1px solid #42454c;
        }
    
        @keyframes blink{
        0% {opacity: 0;}
        100% {opacity: 1;}
        }